.m-l-50px {
    margin-left: 100px;
}

.m-r-50px {
    margin-right: 50px;
}

@media (max-width: 500px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 500px) {
    .hidden-lg {
        display: none !important;
    }
}

