.m-l-lg {
    margin-left: 100px;
}

.m-r-md {
    margin-right: 50px;
}

@media (max-width: 350px) {
    .small-size {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 500px) {
    .hidden-lg {
        display: none !important;
    }
}

@media screen and (max-width: 900px) {
    .hidden-md {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .hidden-landscape {
        display: none;
    }
}

@media screen and (max-width: 1050px) {

  .m-r-md {
      margin: 5%;
  }
  .m-l-lg {
      margin: 5%;
  }

}

