/* menu */

.title {
    font-family: 'Cormorant', serif;
}

menu {
    background-color: rgba(0, 0, 0, 0.35);
    height: 80px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

nav {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-transform: uppercase;
}


.menu-logo {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: rgb(240,240,240);
}

/* social logo */

.menu-socials {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.80);
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    cursor: pointer;
}

.menu-socials .fab {
    margin: 10px;
}

.home-section {
    height: 800px;
    background-image: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.home-title{
    text-align: center;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    font-weight: 700;
}

.home-tagline {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight:300;
    margin: 70px 20%;
    background-color: rgba(0, 0, 0, 0.40);
    padding: 30px;
    border-radius: 25px;
}

.home-btn {
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 300;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer;
}
.home-btn:hover {
    background-color: rgba(72,72,72, 0.50);
}
.home-btn:focus {
    border: none;
    outline: none;
}

a {
    color: rgb(220, 220, 220);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}




/* bread icon */
.delimiter-icon-container {
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
}
.circle-icon {
    width: 100px;
    height: 100px;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#bread-slice {
    color: white;
    font-size:50px;
    justify-content: center;
    align-items: center;
}

/* About Section */
.about-section {
    background-image: url("../images/about_section.png");
    height: 800px;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bakery-description {
    flex: 1;
    margin-left: 10%;
    text-align: center;
    width: 600px;
    height: 600px;
}

.about-title {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    color: rgb(105,105,105);
}

.short-intro {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: rgb(143, 68, 1);
    margin-bottom: 50px;
}

.about-us {
    color: rgb(105,105,105);
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(105,105,105);
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 5px;
}


.chef-section {
    position: relative;
}

.hr1 {
    width: 20%;
    /* margin-left: 50px; */
    left: 50px;
    margin-top: 70px;
    position: absolute;
}

.hr2 {
    display: inline-flex;
    width: 20%;
    right: 50px;
    margin-top: 70px;
    position: absolute;
}

.chef {
    border-radius: 60%;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100px;
    height: auto;
}

.chef-quote {
    font-family: 'Dancing Script', cursive;
    color: rgb(143, 68, 1);
    font-size: 30px;
    font-weight: lighter;
}

/* About section - descriptive images */
.images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    width: 600px;
    align-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    position: relative;
    justify-content: center;
}

.images-container img {
    height: 150px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    outline: 1px solid white;
    outline-offset: -15px;
    display: flex;
    justify-content: center;
}

.centered-images {
    color: rgba(255,255,255, 0.9);
    font-size: 150px;
    position: absolute; 
    margin-top: -100px;
}
    



/* Products */
.products {
    background-image: url(../images/products2.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.products-container {
    background-color: white;
    height: 400px;
    width: 55%;
    border-radius: 1em;

    display: flex;
}

.recipe-image {
    background-image: url(../images/pancakes.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 35%;
    border-radius: 1em 0 0 1em;
    
}

.recipe-description {
    width: 70%;
    position: relative;
}

.product-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    color: rgb(105,105,105);
    text-align: center;
    margin-bottom: 10px;
}

.catchy-resume {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: rgb(143, 68, 1);
    text-align: center;
    margin-top: 10px;
}

.recipe-ingredients {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    text-align: left;
    margin-top: 55px;
    margin-left: 15px;
    margin-right: 15px;
}

.switch-image-recipes {
    width: 80%;
    height: 20%;
    margin-left: 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.circle-image {
    width: 80px;
    height: 80px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
}

.prev-image-button,
.next-image-button {
    height: 25px;
    border-radius: 100%;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.80);
   
}

.recipe-time {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    top: -75px;
    right: -75px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(143, 68, 1);

}

.recipe-minutes {
    font-size: 30px;
    margin: 20px;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

