html { 
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: white;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

/* menu */

.title {
    font-family: 'Cormorant', serif;
}

menu {
    background-color: rgba(0, 0, 0, 0.35);
    height: 80px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    align-items: center;
}

nav {
    font-family: 'Cormorant', serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-transform: uppercase;
}


.menu-logo {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    color: rgb(240,240,240);
}

/* social logo */

.menu-socials {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.80);
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    cursor: pointer;
}

.menu-socials .fab {
    margin: 10px;
}

.home-section {
    height: 800px;
    background-image: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}

.home-title{
    text-align: center;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
    font-size: 70px;
    font-weight: 700;
}

.home-tagline {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    font-weight:300;
    margin: 70px 20%;
    background-color: rgba(0, 0, 0, 0.40);
    padding: 30px;
    border-radius: 25px;
}

.home-btn {
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 300;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.35);
    color: white;
    cursor: pointer;
}
.home-btn:hover {
    background-color: rgba(72,72,72, 0.50);
}
.home-btn:focus {
    border: none;
    outline: none;
}

a {
    color: rgb(220, 220, 220);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);
}


/* bread icon */


.delimiter-icon-container {
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
}
.circle-icon {
    width: 100px;
    height: 100px;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

#bread-slice {
    color: white;
    font-size:50px;
    justify-content: center;
    align-items: center;
}

/* About Section */
.about-section {
    background-image: url("../images/about_section.png");
    height: 800px;
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.bakery-description {
    flex: 1;
    margin-left: 10%;
    text-align: center;
    width: 600px;
    height: 600px;
}

.about-title {
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5em;
    color: rgb(105,105,105);
}

.short-intro {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: rgb(143, 68, 1);
    margin-bottom: 50px;
}

.about-us {
    color: rgb(105,105,105);
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: center;
    line-height: 1.8;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(105,105,105);
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 5px;
}


.chef-section {
    position: relative;
}

.hr1 {
    width: 20%;
    left: 50px;
    margin-top: 70px;
    position: absolute;
}

.hr2 {
    display: inline-flex;
    width: 20%;
    right: 50px;
    margin-top: 70px;
    position: absolute;
}

.chef {
    border-radius: 60%;
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100px;
    height: auto;
}

.chef-quote {
    font-family: 'Dancing Script', cursive;
    color: rgb(143, 68, 1);
    font-size: 30px;
    font-weight: lighter;
}

/* About section - descriptive images */

.images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    width: 600px;
    align-content: flex-start;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    /* position: relative; */
    justify-content: center;
}

.images-container img {
    height: 150px;
    border: 10px solid rgba(255, 255, 255, 0.1);
    outline: 1px solid white;
    outline-offset: -15px;
    display: flex;
    justify-content: center;
}

/* .centered-images {
    color: rgba(255,255,255, 0.9);
    font-size: 150px;
    position: absolute; 
    margin-top: -120px;
} */
    

/* Products */

.products {
    background-image: url(../images/products2.jpg);
    height: 800px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


.products-container {
    background-color: white;
    height: 400px;
    width: 55%;
    border-radius: 1em;

    display: flex;
}

.recipe-image {
    background-image: url(../images/pancakes.jpg);
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 35%;
    border-radius: 1em 0 0 1em;
    
}

.recipe-description {
    width: 70%;
    position: relative;
}

.product-name {
    font-family: 'Libre Baskerville', serif;
    font-size: 2em;
    color: rgb(105,105,105);
    text-align: center;
    margin-bottom: 10px;
}

.catchy-resume {
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: rgb(143, 68, 1);
    text-align: center;
    margin-top: 10px;
}

.recipe-ingredients {
    color: black;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    text-align: left;
    margin-top: 55px;
    margin-left: 15px;
    margin-right: 15px;
}

.switch-image-recipes {
    width: 80%;
    height: 20%;
    margin-left: 50px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.circle-image {
    width: 80px;
    height: 80px;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
}

.prev-image-button,
.next-image-button {
    height: 25px;
    border-radius: 100%;
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.80);
   
}

.recipe-time {
    position: absolute;
    width: 140px;
    height: 140px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    top: -75px;
    right: -75px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Cormorant', serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(143, 68, 1);
}

.recipe-minutes {
    font-size: 30px;
    margin: 20px;
}

/* Footer */

.footer-container {
    padding: 30px;
    background-color: white;
    height: 200px;
}

.footer-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: black;
    margin-top: 0px;
    margin-left: 30px;
}

.footer-nav-elements {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
.footer-nav-elements:hover {
    color: grey;
    cursor: pointer;
}

.footer-hr {
    margin-top: 30px;
    color: rgb(211,211,211);
}

.copyright {
    color: black;
    font-size: 12px;
    margin-bottom: 10px;
}

.socials {
    color: black;
    height: 100px;
    width: 25%;
    float: right;
    margin-top: -160px;
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-align: right;
    justify-content: flex-end;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
    margin-right: 40px;
}

.footer1 {
    width: 75%;
}

iframe {
    margin-left: 500px;
    margin-top: -155px;
    width: 400px;
    height: 180px;
}


/* Responsive */

@media screen and (max-width: 500px) {


    /* Home Page */
    .home-section {
        min-height: 800px;
    }
    .menu {
        height: 50px;
    }

    .menu-logo {
        font-size: 30px;
        margin-left: -10px;
    }

    .home-title {
        font-size: 40px;
    }

    nav {
        /* display: inline-flex; */
        font-size: 20px;
        text-align: center;
    }

    .menu-responsive {
        position: absolute;
        font-size: 20px;
        background-color: #f5f0ea;
        min-height: 90vh;
        width: 100%;
        /* top: 0; */
        padding: 20px;
        display: none;
    }

    .socials-responsive {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 30px;
        color: black;
    }

    .nav-elements {
        color: black;
        font-size: 40px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
        font-family: 'Cormorant', serif;
        border-bottom: 1px solid black;
        /* margin: 10px; */
    }

    .nav-elements:hover {
        color: gray;
    }

    .fab-fa-twitter-responsive,
    .fab-fa-facebook-responsive,
    .fab-fa-instagram-responsive {
        color: black;
        font-size: 40px;
        display: flex;
        flex-direction: column; 
        margin-top: 350px;
        margin-left: 30px;
    }
    
    .home-tagline {
        height: 65vw;
        font-size: 20px;
    }

    .menu-paragraphs {
        color: black;
        text-align: left;
        font-size: 18px;
        margin: 0 20px;
    }

    /* Burger */

    .hamburger {
        padding: 15px 15px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        /* color: inherit; */
        color: white;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; 

        z-index: 2;
    }

    .hamburger:hover {
        opacity: 0.7; 
    }

    .hamburger.is-active:hover {
        opacity: 0.7; 
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        background-color: white; 
    }
      
    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
      
    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        width: 40px;
        height: 4px;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease; 
    }

    .hamburger-inner::before, .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    .hamburger--slider .hamburger-inner {
        top: 2px;
    }

    .hamburger--slider .hamburger-inner::before {
          top: 10px;
          transition-property: transform, opacity;
          transition-timing-function: ease;
          transition-duration: 0.15s;
    }

    .hamburger--slider .hamburger-inner::after {
        top: 20px;
    }
      
    .hamburger--slider.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg);
    }

    .hamburger--slider.is-active .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    .hamburger--slider.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }


    /* About Section */
    .about-section {
        min-height: 800px;
    }
    .bakery-description {
        margin: 0;
        padding: 10vw;
    }

    .chef-quote {
        margin: 0;
        font-size: 25px;
    }

    .hr1 {
        left: 5vw;
    }

    .hr2 {
        right: 5vw;
    }

    .images-container {
        background-image: url(../images/about_section.png);
        flex: none;
        flex-direction: column;
        margin-left: 0;
        position: static;
        margin-top: 48vw;
        /* padding: 18vw; */
        min-height: inherit;
        width: 100%;
    }

    .images-container img {
        margin-left: 30%;
    }

    /* Products Section */
    .products {
        min-height: 400vw;
    }

    .products-container {
        margin-bottom: -150%;
        margin-top: 50%;
        width: 90vw;
        height: 150vw;
        display: flex;
        flex-direction: column;
    }

    .recipe-image{
        height: 50%;
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .recipe-description {
        width: 100%;
    }

    .switch-image-recipes {
        margin-left: 10%;
        justify-content: center;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .recipe-ingredients {
        margin-top: 10%;
        text-align: center;
    }

    /* Footer */

    .footer-container {
        padding: 5vw;
    }
    .footer-logo {
        margin: 0;
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -5vw;
    }

    .copyright {
        font-size: 4vw;
    }
  }
   
